.App {
  text-align: center;
}
.file {
  display: flex;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  
}
.folder {
display: flex;
flex-direction: ;
justify-content: space-between;
background-color: rgb(215, 219, 222);
margin: 2px;
border: 5px;
border-style: ridge;

}